<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>
      Uniboard <br>
      <small>Unified train departure board for NY Penn Station</small>
    </h1>

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Train</th>
          <th>Destination</th>
          <th>Track</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% trains.forEach(function(train) { %>
          <tr>
            <td> <%= train['TIME'].format('h:mm') %></td>
            <td> <%= train['CARRIER'] + ' ' + train['TRAIN_ID'] %>
            <td> <%- train['DESTINATION'] %></td>
            <td> <%= train['TRACK'] %></td>
            <td> <%= train['STATUS'] %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
